<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Coza Store
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Chuyện chưa kể - Coza Store
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Vào năm 2015, Coza Store được ra mắt tại Singapore với định hướng là sàn thương mại điện tử phát triển chủ yếu trên thiết bị
							di động, hoạt động như một mạng xã hội phục vụ nhu cầu mua bán mọi lúc, mọi nơi cho người dùng. Tích hợp hệ thống vận
							hành, giao nhận và hỗ trợ về khâu thanh toán, Coza Store là bên trung gian giúp việc mua sắm trực tuyến dễ dàng và an toàn
							hơn cho cả bên mua lẫn bên bán.					
							
						</p>

						<p class="stext-113 cl6 p-b-26">
							Coza Store Việt Nam độc quyền cung cấp chính sách mua sắm online an toàn với tên gọi “Coza Store Đảm Bảo”, chỉ thanh toán cho
							người bán khi người mua đã nhận được hàng thành công.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Vào năm 2017, Coza Store Việt Nam cho ra mắt Coza Store Mall, cổng bán hàng với cam kết chính hãng từ các thương hiệu hàng đầu
							và các nhà bán lẻ lớn tại Việt Nam.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Sứ mệnh
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Chúng tôi thật sự tin tưởng vào sức mạnh khai triển của công nghệ và mong muốn góp phần làm cho thế giới trở nên tốt đẹp hơn bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp một nền tảng thương mại điện tử.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Đối với người dùng trong khu vực, Coza Store mang đến trải nghiệm mua sắm tích hợp với vô số sản phẩm đa dạng chủng loại, cộng đồng người dùng năng động và chuỗi dịch vụ liền mạch.
							</p>

							<span class="stext-111 cl8">
								- Tui tự nói
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	