{{#each comment}}
<div class="flex-w flex-t p-b-68 row-comment">
    <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
        <img src="images/avatar-01.jpg" alt="AVATAR">
    </div>

    <div class="size-207">
        <div class="flex-w flex-sb-m p-b-17">
            <span class="mtext-107 cl2 p-r-20">
                {{this.name}}
            </span>

            <span class="fs-18 cl11">
                {{this.date}}
            </span>
        </div>

        <p class="stext-102 cl6">
            {{this.content}}
        </p>
    </div>
    <hr class="col-sm-12">
</div>
{{/each}}