<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Quên mật khẩu
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

    <form class="form-forget-pass" method="POST" action="/forget-password">
        <h4 class="txt-center">Quên mật khẩu?</h4>
        <h6>Đừng lo chúng tôi sẽ lấy nó lại cho bạn. Đảm bảo rằng hãy nhập đúng email của bạn đã đăng ký. 
            Một mã xác nhận sẽ được gửi đến mail của bạn. Kiểm tra mail và tiến hành khôi phục mật khẩu.
        </h6>
        <input type="text" class="form-control" name="email" placeholder="Email đăng ký" autocomplete="off">
        <div class="row">
            <input type="submit" class="mybtn-login" value="Gửi">
            {{!-- <a href="#" class="col">
                <div class="btn-login">
                    Gửi
                </div>
            </a> --}}
        </div>
    </form>