
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Đăng nhập
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

    <form class="form-signin" action="/login" method="POST">
        <h4 class="txt-center">Đăng nhập</h4>
        <input type="text" id="username" name="username" class="form-control" placeholder="Tên đăng nhập" autocomplete="off">
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" autocomplete="off">
        <div class="check">
            <div>
                <label>
                    <input type="checkbox" class="checkbox">
                    Ghi nhớ tài khoản
                </label>
            </div>
            <div class="forget-pass">
                <label>
                    <a href="forget-password">
                        Quên mật khẩu
                    </a>
                </label>
            </div>
        </div>        
        <div class="row">
            <input type="submit" class="btn-login" value="Đăng Nhập">
        </div>
    </form>