<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Giỏ hàng
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

	<div class="container shop">
		<div class="row">
			<div class="order-info col-md-9">                
				<ul class="tab-order row">
					<a href="#" class="col-md-2 active-tab">
                        <li>Tất cả</li>
                    </a>
                    <a href="#" class="col-md-2">
                        <li>Chờ thanh toán</li>
                    </a>
                    <a href="#" class="col-md-2">
                        <li>Chờ lấy hàng</li>
                    </a>
                    <a href="#" class="col-md-2">
                        <li>Đang giao</li>
                    </a>
                    <a href="#" class="col-md-2">
                        <li>Đã giao</li>
                    </a>
                    <a href="#" class="col-md-2">
                        <li>Đã hủy</li>
                    </a>
                </ul>
                <!--first order-->
                <div class="wrapper-order">
                    <div class="header-order row">
                        <div class="code-order col-md-6">
                            <span>Mã đơn hàng:</span>
                            <span><i>0123456789</i></span>
                        </div>
                        <div class="state-order txt-right col-md-6">
                            <span>Trạng thái:</span>
                            <span>Đã giao</span>
                        </div>
                    </div>
                    <ul class="row-order row">
                        <li class="col-md-4">
                            <div class="how-itemcart1">
                                <img src="images/item-cart-04.jpg" alt="IMG">
                            </div>
                        </li>
                        <li class="col-md-4">
                            <p>Áo khoác nam nữ đỏ</p>
                            <p>x1</p>
                        </li>
                        <li class="col-md-4">720 000₫</li>                        
                    </ul>
                    <ul class="row-order row">
                        <li class="col-md-4">
                            <div class="how-itemcart1">
                                <img src="images/item-cart-05.jpg" alt="IMG">
                            </div>
                        </li>
                        <li class="col-md-4">
                            <p>Áo khoác nam mỏng</p>
                            <p>x1</p>
                        </li>
                        <li class="col-md-4">320 000₫</li>
                    </ul>
                    <div class="row-total row">
                        <div class="m-l-auto">
                            <span class="total">Tổng:</span>
                            <span class="price"><b>1 144 000₫</b></span>
                        </div>
                    </div>
                    <hr/>
                </div>
                 <!--second order-->
                <div class="wrapper-order">
                        <div class="header-order row">
                            <div class="code-order col-md-6">
                                <span>Mã đơn hàng:</span>
                                <span><i>0754126789</i></span>
                            </div>
                            <div class="state-order txt-right col-md-6">
                                <span>Trạng thái:</span>
                                <span>Đã hủy</span>
                            </div>
                        </div>
                        <ul class="row-order row">
                            <li class="col-md-4">
                                <div class="how-itemcart1">
                                    <img src="images/item-cart-02.jpg" alt="IMG">
                                </div>
                            </li>
                            <li class="col-md-4">
                                <p>Giày Convers All Star</p>
                                <p>x1</p>
                            </li>
                            <li class="col-md-4">1 500 000₫</li>                        
                        </ul>
                        <ul class="row-order row">
                            <li class="col-md-4">
                                <div class="how-itemcart1">
                                    <img src="images/item-cart-03.jpg" alt="IMG">
                                </div>
                            </li>
                            <li class="col-md-4">
                                <p>Đồng hồ Nixon</p>
                                <p>x2</p>
                            </li>
                            <li class="col-md-4">680 000₫</li>
                        </ul>
                        <div class="row-total row">
                            <div class="m-l-auto">
                                <span class="total">Tổng:</span>
                                <span class="price"><b>2 130 000₫</b></span>
                            </div>
                        </div>
                        <hr/>
                    </div>               
			</div>			
		</div>
	</div>