<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Đăng ký
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

	<form class="form-register" method="POST" action="/register">
		<h4 class="txt-center">Đăng ký</h4>

		{{!-- get error --}}
		{{#if message}}
			<div class="alert alert-warning alert-dismissible fade show err-server" role="alert">
				<span>{{message}}</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}
		<div class="alert alert-warning alert-dismissible fade show dis-none err-register" role="alert">
			<span class="err-info"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<input type="text" name="email" class="form-control" onfocus="hideError()" placeholder="Email" autocomplete="off" value="{{email}}">
		<input type="password" name="password" class="form-control" onfocus="hideError()" placeholder="Mật khẩu" autocomplete="off" value="{{password}}" >
		<input type="password" name="confirmpassword" class="form-control" onfocus="hideError()" placeholder="Xác nhận mật khẩu" autocomplete="on">
		<input type="text" name="name" class="form-control" placeholder="Họ tên" onfocus="hideError()" autocomplete="on">
		<input type="number" name="phonenumber" class="form-control" onfocus="hideError()" placeholder="Điện thoại" autocomplete="on">
		<div class="check">
			<div>
				<label>
					<input type="checkbox" class="checkbox">
					Tôi đã đọc và đồng ý với <a id="provision">điều khoản</a>
				</label>
			</div>
			<div class="have-acc">
				<label>
					<a href="login">
						Đã có tài khoản?
					</a>
				</label>
			</div>
		</div>
		<div class="row">
			<input type="submit" class="btn-register" value="Đăng ký">
		</div>
	</form>

	<script>
		$(document).ready(function(){
			$('.btn-register').on('click submit', validateInput);
			
			function validateInput(){
				//miss info
				let email = $('input[name="email"]').val(),
					password = $('input[name="password"]').val(),
					confirmpassword = $('input[name="confirmpassword"]').val(),
					name = $('input[name="name"]').val(),
					phonenumber = $('input[name="phonenumber"]').val(),
					check = $('.checkbox:checked');
				if(!email || !password || !confirmpassword || !name || !phonenumber){
					showError("Vui lòng nhập đủ thông tin");
					return false;
				}
				if(!isEmail(email)){
					showError("Email không đúng");
					return false;
				}
				if(password.length <6){
					showError("Password phải dài hơn 6 ký tự");
					return false;
				}
				if(password != confirmpassword){
					showError("Password nhập lại không đúng");
					return false;
				}
				if(!isFullName(name)){
					showError("Nhập tên đầy đủ");
					return false;
				}
				if(parseInt(phonenumber)<=0 || isNaN(parseInt(phonenumber)) || phonenumber.length != 10){
					showError("Số điện thoại không đúng");
					return false;
				}
				if(check.length==0){
					showError("Đọc điều khoản chưa?");
					return false;
				}
			}

			function showError(text){
				$('.err-info').text(text);
				$('.err-register').removeClass('dis-none').addClass('show-err');
				$('.err-server').addClass('dis-none');
			}
			function isEmail(email) {
				const regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
				return regex.test(email);
			}
			function isFullName(name) {
				const regex = /^(([àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđa-z]{2,})[\s]{0,}){2,}$/i;
				return regex.test(name);
			}


			//click on privsion
			$('#provision').on('click', function(){
				alert("Tạm thời chưa có điều khoản.\nĐọc sau nhé!");
			})
			
		})
		function hideError() {
			$('.err-register').removeClass('show-err').addClass('dis-none');
			$('.err-server').addClass('dis-none');
		}
	</script>