<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Đăng ký
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

	<form class="form-register">
		<h4 class="txt-center">Đăng ký</h4>
		<input type="text" class="form-control" placeholder="Tên đăng nhập" autocomplete="off">
		<input type="password" class="form-control" placeholder="Mật khẩu" autocomplete="off">
		<input type="password" class="form-control" placeholder="Xác nhận mật khẩu" autocomplete="off">
		<input type="text" class="form-control" placeholder="Họ tên" autocomplete="off">
		<input type="email" class="form-control" placeholder="Email" autocomplete="off">
		<input type="number" class="form-control" placeholder="Điện thoại" autocomplete="off">
		<div class="check">
			<div>
				<label>
					<input type="checkbox" class="checkbox">
					Tôi đã đọc và đồng ý với điều khoản
				</label>
			</div>
			<div class="have-acc">
				<label>
					<a href="login">
						Đã có tài khoản?
					</a>
				</label>
			</div>
		</div>
		<div class="row">
			<a href="index" class="col">
				<div class="btn-register">
					Đăng ký
				</div>
			</a>
		</div>
	</form>