
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Reset Password
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

    <form class="form-signin" action="/reset-password" method="POST">
        <h4 class="txt-center">Reset Password</h4>

            {{#if message}}
			    <div class="alert alert-warning alert-dismissible fade show err-server" role="alert">
                <span>{{message}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/if}}

            <!-- end error -->
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" autocomplete="off">
        <input type="password" id="verifypassword" name="verifypassword" class="form-control" placeholder="Xác thực mật khẩu" autocomplete="off">

        <div class="row">
            <input type="submit" class="mybtn-login" value="Reset Password">
        </div>
    </form>